<main class="relative  ">
  <div >
    <router-outlet/>
  </div>
</main>


<footer class="bg-slate-900/[0.3] mt-4">
  <div class="flex flex-col p-3 items-center justify-center">
    <div class="text-sm px-4 text-center text-white">Here i share my thoughts and about my days which i am unable to share with anyone, not specific and complete but it is what it is</div>
    <hr class="w-full h-1 m-2 text-gray-100">
    <div class="text-sm sm:text-center text-white">© 2025. All Rights Reserved.</div>
  </div>
</footer>
